{% extends "base.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block body %}
    <body class="beige">
        <div class="orange portfolio-top screen-width"></div>

        <h2 class="brown-font center-text">My Works</h2>

        <div class="works">
            <div class="item">
                <div class="upper-rect brown"></div>
                <div class="item-title">
                    <h3 class="brown-font">Title #1</h3>
                    <p class="brown-font">-></p>            <!-- Placeholder for icon "arrow" -->
                </div>
                <div class="lower-rect brown"></div>
            </div>
            <div class="item">
                <div class="upper-rect brown"></div>
                <div class="item-title">
                    <h3 class="brown-font">Title #1</h3>
                    <a class="brown-font">-></p>            <!-- Placeholder for icon "arrow" -->
                </div>
                <div class="lower-rect brown"></div>
            </div>
            <div class="item">
                <div class="upper-rect brown"></div>
                <div class="item-title">
                    <h3 class="brown-font">Title #1</h3>
                    <p class="brown-font">-></p>            <!-- Placeholder for icon "arrow" -->
                </div>
                <div class="lower-rect brown"></div>
            </div>
        </div>
    </body>
{% endblock %}